body, html {
  background-color: #D1EDF1;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 165, 0, 0.66); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(245, 196, 109, 0);
}


/* Navigation Menu*/
ul:not(#codingLanguages) {
  margin-top: 0px;
  list-style-type: none;
  overflow: hidden;
  font-family: 'Raleway';
  font-size: 130%;
  width: 100%;
}
li:not(#codingLanguagesLi) {
  float: left;
  display: inline-block;
  width: 120px;
  color: #FFFFFF;
  background-color: #B0C4DE;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
}
li:hover:not(#codingLanguagesLi), li:active:not(#codingLanguagesLi) {
  background-color: #D1EDF1;
  color: #B0C4DE;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
li:nth-child(2):not(#codingLanguagesLi) {
  padding-left: 10px;
  padding-right: 15px;
}
li:nth-child(3):not(#codingLanguagesLi) {
  padding-left: 15px;
  padding-right: 15px;
}
li:last-child:not(#codingLanguagesLi) {
  padding-right: 12px;
  padding-left: 12px;
  width: 160px;
}
.navigationMenu {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: -22px;
  margin-right: 0px;
  z-index: 99 !important;
}
.navAndTitle {
  width: 100%;
  height: 130px;
  position: fixed;
  top:0;
  padding-top: 8px;
  background-color: #D1EDF1;
  z-index: 9 !important;
}




/* Title and Header */
.title {
  margin: 15px;
  color: dodgerblue;
  font-family: 'Roboto';
  font-size: 270%;
  text-align: center;
  margin-bottom: 15px;
}




/* Body */
.intro {
  padding: 5px;
  padding-left: 8px;
  border: 2px solid cornflowerblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #85d0ff;
  font-family: 'Roboto';
  font-size: 115%;
}

.introHeader {
  font-family: 'Raleway';
  color: dodgerblue;
  font-weight: bold;
}

.normalIntro {
  font-size: 80%;
  color: #1a65be;
  padding-top: 2px;
}

.article {
  padding: 5px;
  padding-left: 8px;
  border: 2px solid #1A237E;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #9FA8DA;
  font-family: 'Roboto';
  font-size: 115%;
}

.articleHeader {
  font-family: 'Raleway';
  color: #1A237E;
  font-weight: bold;
}

.normalArticle {
  font-size: 80%;
  color: #303F9F;
  padding-top: 2px;
}

.learnMore {
  border: 2px solid #0D47A1;
  background-color: #42A5F5;
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.learnMoreText {
  transition: 0.7s;
  color: white;
}

.learnMoreText:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.hideShowIntro {
    transition: 0.7s;
    position: absolute;
    right: 15px;
    top: 160px;
    padding: 3px;
    border: 2px solid green;
    background-color: #80CBC4;
    border-radius: 5px;
    font-size: 65%; 
    font-family: Raleway;
}

.hideShowIntro:hover {
  transition: 0.7s;
  cursor: pointer;
  color: white;
  background-color: green;
}

.boxclose{
    transition: 0.7s;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 22px;
}

.boxclose:before {
    content: "×";
}

.boxclose:hover {
  transition: 0.7s;
  background-color: red;
  border: 1px solid darkred;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.project {
  transition: 0.7s;
}

.project:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-weight: bold;
  transition: 0.5s;
  color: dodgerblue;
  text-decoration: none;
}




a:hover {
  transition: 0.5s;
  color: #1a65be;
  cursor: pointer;
}


@keyframes fade {
    0%, 50% {
        opacity: 0;
        transform: scale(0);
    }
}


@keyframes dot-anim {
    0% {
        top: -4px;
    }
    50% {
        top: 4px;
    }
    100% {
        top: -4px;
    }
}


.loader {    
  display: inline-block;  
  animation: fade 1s;
  padding-left: 44%;
  margin-bottom: 2px;
}


.loader > div{
  float: left;
  display: block;
  width: 30px;
  margin-left: 1px;
  height: 4px;  
  position: relative;
  
  transition: all 1s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: dot-anim;
}


.blue{  
  background-color: #4285F4;
}


.pink{
  animation-delay: .2s;  
  background-color: #EA4335;
}


.orange{
  animation-delay: .4s;
  background-color: orange;
}


.green{
  animation-delay: .6s;
  background-color: #34A853;
}


.lightBulbTitle {
  position: fixed;
  left: 0; right:0;
  margin: auto;
  padding-right: 380px;
  padding-top: 9px;
  z-index: 99 !important;
}


.atomTitle {
  position: fixed;
  left: 0; right:0;
  margin: auto;
  padding-left: 408px;
  padding-top: 7px;
  z-index: 99 !important;
}


.load-bar {
  position: fixed;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
  bottom: 0;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 6s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 6s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 6s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
.loadingBarAnim {
  position: absolute;
  top: 310px;
  left: 45%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loadingBar 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}


@keyframes loadingBar {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

.loader12 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: loader12 1s linear alternate infinite;
  margin: -50px auto 0;
  margin-bottom: 38px;
  margin-top: -26px;
}

@keyframes loader12 {
  0% {
    box-shadow: -60px 40px 0 2px #4285F4, -30px 40px 0 0 #EF5350, 0 40px 0 0 #FFD54F, 30px 40px 0 0 #81C784, 60px 40px 0 0 #BDBDBD; }
  25% {
    box-shadow: -60px 40px 0 0 #42A5F5, -30px 40px 0 2px #DB4437, 0 40px 0 0 #FFD54F, 30px 40px 0 0 #81C784, 60px 40px 0 0 #BDBDBD; }
  50% {
    box-shadow: -60px 40px 0 0 #42A5F5, -30px 40px 0 0 #EF5350, 0 40px 0 2px #F4B400, 30px 40px 0 0 #81C784, 60px 40px 0 0 #BDBDBD; }
  75% {
    box-shadow: -60px 40px 0 0 #42A5F5, -30px 40px 0 0 #EF5350, 0 40px 0 0 #FFD54F, 30px 40px 0 2px #0F9D58, 60px 40px 0 0 #BDBDBD; }
  100% {
    box-shadow: -60px 40px 0 0 #42A5F5, -30px 40px 0 0 #EF5350, 0 40px 0 0 #FFD54F, 30px 40px 0 0 #81C784, 60px 40px 0 2px #9E9E9E; } }

#movingBallG{
 position:relative;
 width:250px;
 height:19px;
 margin:auto;
}

.movingBallLineG{
 position:absolute;
 left:0px;
 top:8px;
 height:4px;
 width:250px;
 background-color:#F4B400;
 border-radius: 10px;
}

.movingBallG{
 background-color: #DB4437;
 position:absolute;
 top:0;
 left:0;
 width:19px;
 height:19px;
 border-radius:10px;
  -o-border-radius:10px;
  -ms-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
 animation-name:bounce_movingBallG;
  -o-animation-name:bounce_movingBallG;
  -ms-animation-name:bounce_movingBallG;
  -webkit-animation-name:bounce_movingBallG;
  -moz-animation-name:bounce_movingBallG;
 animation-duration:1.5s;
  -o-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
 animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
 animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
}

@keyframes bounce_movingBallG{
 0%{
  left:0px;
 }

 50%{
  left:230px;
 }

 100%{
  left:0px;
 }
}

@-o-keyframes bounce_movingBallG{
 0%{
  left:0px;
 }

 50%{
  left:230px;
 }

 100%{
  left:0px;
 }
}

@-ms-keyframes bounce_movingBallG{
 0%{
  left:0px;
 }

 50%{
  left:230px;
 }

 100%{
  left:0px;
 }
}

@-webkit-keyframes bounce_movingBallG{
 0%{
  left:0px;
 }

 50%{
  left:230px;
 }

 100%{
  left:0px;
 }
}

@-moz-keyframes bounce_movingBallG{
 0%{
  left:0px;
 }

 50%{
  left:230px;
 }

 100%{
  left:0px;
 }
}
