.theGameButton {
  transition: 0.7s;
  font-size: 210%;
  border: 2px solid #FF9800;
  border-radius: 5px;
  color: #FF9800;
  background-color: #FFCC80;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 3px;
  font-family: 'Itim', cursive;
}

.theGameButton:hover {
  transition: 0.7s;
  background-color: #FF9800;
  cursor: pointer;
  color: white;
}

.centerGameButtons {
  width: 480px;
  margin-left: auto ;
  margin-right: auto ;
}
